<div class="cards-grid">
  <div class="container m-16">
    <h1><%= @flat[:name] %></h1>
    <p><%= @flat[:address] %></p>
  </div>

  <div class="container">
    <h2>A bit more about this flat.. </h2>
    <p><%= @flat[:address] %></p>
    <p><%= @flat[:phone_number] %></p>
  </div>
</div>

<%= link_to "Go Home", root_path, class: 'btn btn-primary'  %>
<%= link_to "Edit Listing", edit_flat_path(@flat), class: 'btn btn-primary' %>
